# visual studio
/.vs/recs/v16/ipch/AutoPCH/4ed5cf3b7b94cec9
/.vs/recs/v16/Browse.VC.opendb
/.vs/recs/v16/Browse.VC.db-wal
/.vs/recs/v16/Browse.VC.db-shm

# cmake clion
cmake-build-debug
.idea
out
x64
media
config.h