# visual studio
/.vs/pds-screen-recorder/v16/ipch/AutoPCH/4ed5cf3b7b94cec9
/.vs/pds-screen-recorder/v16/Browse.VC.opendb
/.vs/pds-screen-recorder/v16/Browse.VC.db-wal
/.vs/pds-screen-recorder/v16/Browse.VC.db-shm

# cmake clion
cmake-build-debug
.idea
out
x64
media
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CompilerIdC/a.out
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CompilerIdCXX/a.out
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/build.make
/cmake-build-debug-wsl/CMakeFiles/recs.dir/build.make
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/build.make
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/build.make
/cmake-build-debug-wsl/CMakeFiles/clion-environment.txt
/cmake-build-debug-wsl/CMakeFiles/clion-log.txt
/cmake-build-debug-wsl/CMakeFiles/cmake.check_cache
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/cmake_clean.cmake
/cmake-build-debug-wsl/CMakeFiles/recs.dir/cmake_clean.cmake
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/cmake_clean.cmake
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/cmake_clean.cmake
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/cmake_clean_target.cmake
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/cmake_clean_target.cmake
/cmake-build-debug-wsl/src/ffmpeg/cmake_install.cmake
/cmake-build-debug-wsl/src/ui/cmake_install.cmake
/cmake-build-debug-wsl/cmake_install.cmake
/cmake-build-debug-wsl/CMakeCache.txt
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CMakeCCompiler.cmake
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CMakeCXXCompiler.cmake
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-wsl/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-wsl/src/ui/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-wsl/CMakeFiles/CMakeOutput.log
/cmake-build-debug-wsl/CMakeFiles/3.20.6/CMakeSystem.cmake
/cmake-build-debug-wsl/config.h
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/CXX.includecache
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/depend.internal
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/depend.make
/cmake-build-debug-wsl/CMakeFiles/recs.dir/depend.make
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/depend.make
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/depend.make
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/DependInfo.cmake
/cmake-build-debug-wsl/CMakeFiles/recs.dir/DependInfo.cmake
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/DependInfo.cmake
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/DependInfo.cmake
/cmake-build-debug-wsl/src/ffmpeg/ffmpegcpp.cbp
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/flags.make
/cmake-build-debug-wsl/CMakeFiles/recs.dir/flags.make
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/flags.make
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/flags.make
/cmake-build-debug-wsl/Testing/Temporary/LastTest.log
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/link.txt
/cmake-build-debug-wsl/CMakeFiles/recs.dir/link.txt
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/link.txt
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/link.txt
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/src/main.cpp.o
/cmake-build-debug-wsl/src/ffmpeg/Makefile
/cmake-build-debug-wsl/src/ui/Makefile
/cmake-build-debug-wsl/Makefile
/cmake-build-debug-wsl/CMakeFiles/Makefile.cmake
/cmake-build-debug-wsl/CMakeFiles/Makefile2
/output.txt
/cmake-build-debug-wsl/pds_screen_recorder
/cmake-build-debug-wsl/pds_screen_recorder.cbp
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/progress.make
/cmake-build-debug-wsl/CMakeFiles/recs.dir/progress.make
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/ffmpegcpp.dir/progress.make
/cmake-build-debug-wsl/src/ui/CMakeFiles/ui.dir/progress.make
/cmake-build-debug-wsl/CMakeFiles/progress.marks
/cmake-build-debug-wsl/src/ffmpeg/CMakeFiles/progress.marks
/cmake-build-debug-wsl/src/ui/CMakeFiles/progress.marks
/cmake-build-debug-wsl/recs.cbp
/cmake-build-debug-wsl/CMakeFiles/pds_screen_recorder.dir/src/ScreenRecorder.cpp.o
/cmake-build-debug-wsl/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-wsl/src/ui/ui.cbp
